//
// Author: Jason Runzer
// favorite.jade
// 3/1/2017
// Favorite job feed container.
//

extends nav

block append extraScripts
  script(src="/javascripts/favorites-controller.js")

block content
  #jobs.container