extends nav

block append extraScripts
  script(src="/javascripts/feed-controller.js")

block content
  #jobs.container
    .row.row-centered
      .col-centered
        .aJob
          h3.title
            a(href="http://jobs.github.com/positions/9680b964-f493-11e6-98ac-38e3e931592f") Application Developer
          .jobDes
            label Type
            .type Full-Time
            br
            label Company
            .company Amazon
            br
            label Date
            .date Fri Feb 03 16:51:12 UTC 2017
            br
            .favButton favorite
          
        