//
// Author: Jason Runzer
// feed.jade
// 3/1/2017
// Contains the job feed container for the incoming jobs.
//

extends nav

block append extraScripts
  script(src="/javascripts/feed-controller.js")

block content
  #jobs.container         
        