//
// Author: Jason Runzer
// layout.jade
// 2/7/2017
// Contains the common elements of all html pages in the web app and can be extended by other files.
//

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src="/javascripts/jquery.cookie.js")
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    script(src="/javascripts/globalJS.js")
    block extraScripts
    
  body
    div(class="header")
      h1 #{title}
      block headerContent
    block content
    footer(class="footer")
      h4 Jason Runzer
