extends layout

block append extraScripts
  script(src="/javascripts/login-controller.js")

block content
  .container
    #login
      #form
        div.row.row-centered
          div.col-centered
            a(class="btn btn-block btn-social btn-github" onclick="gitLogin()")
              span(class="fa fa-github") 
              | Sign in with GitHub