//
// Author: Jason Runzer
// loginFailed.jade
// 3/1/2017
// Redirect page for a failed login/auth.
//

extends login

block append content
  .container
    .row
      #loginFailed Unauthorized. Please login.