//
// Author: Jason Runzer
// login.jade
// 3/1/2017
// Contains the login page with the login button and active user display.
//

extends layout

block append extraScripts
  script(src="/javascripts/login-controller.js")

block content
  .container
    #login
      #form
        div.row.row-centered
          div.col-centered
            a(class="btn btn-block btn-social btn-github" onclick="gitLogin()")
              span(class="fa fa-github") 
              | Sign in with GitHub
    h3 Active Users: 
    h3(id="active") #{active}