extends layout

block headerContent
  button(type="submit" class="btn" id="signOut" onclick="navSignOut()") Sign Out
  button(type="submit" class="btn" id="profile" onclick="navProfile()") Profile
  button(type="submit" class="btn" id="favorites" onclick="navFave()") Favorites
  button(type="submit" class="btn" id="feed" onclick="navFeed()") Feed
  